.biker-form.container
  .biker-form__header user registration
  .biker-form__content
    form#biker-form.biker-form__form(name='user-registration')
      .biker-form__inputGroup--left
        .biker-form__input
          label(for='fullName') Full name
          input(name='fullName' )
        .biker-form__input
          label(for='email') E-mail
          input(name='email' )
        .biker-form__input
          label(for='city') City
          input(name='city' )
      .biker-form__inputGroup--right
        .biker-form__input
          label(for='rideInGroup') Ride in Group?
          .biker-form__radioboxGroup
            span
              input(type="radio" name="rideInGroup" value="0" id='radio_0') 
              label(for='radio_0') Always
            span
              input(type="radio" name="rideInGroup" value="1"  id='radio_1') 
              label(for='radio_1') Sometimes
            span
              input(type="radio" name="rideInGroup" value="2"  id='radio_2') 
              label(for='radio_2') Never
        .biker-form__input
          label Days of the week
          .biker-form__checkboxGroup
            input#sun(type='checkbox' name='sun' value='0' )
            label(for='sun') Sun
            input#mon(type='checkbox' name='mon' value='1')
            label(for='mon') Mon
            input#tue(type='checkbox' name='tue' value='2')
            label(for='tue') Tue
            input#wed(type='checkbox' name='wed' value='3')
            label(for='wed') Wed
            input#thu(type='checkbox' name='thu' value='4')
            label(for='thu') Thu
            input#fri(type='checkbox' name='fri' value='5')
            label(for='fri') Fri
            input#sat(type='checkbox' name='sat' value='6')
            label(for='sat') Sat
            
        .biker-form__buttonGroup
          .biker-form__button
            button.biker-form__button-cancel(id='biker-form__cancelButton') Cancel
          .biker-form__button
            button.biker-form__button-save(id='biker-form__saveButton') Save