.biker-form.container
  .biker-form__header user registration
  .biker-form__content
    form#biker-form.biker-form__form(name='user-registration')
      .biker-form__inputGroup--left
        .biker-form__input
          label(for='fullName') Full name
          input#name(name='fullName' required )
          label Instruction to show on input focus
        .biker-form__input
          label(for='email') E-mail
          input#email(name='email' required)
          label Instruction to show on input focus
        .biker-form__input
          .biker-form__labelContainer
            label.biker-form__primaryLabel(for='city') City
            label.biker-form__secondaryLabel(for='city') Optional
          input#city(name='city' )
          label Instruction to show on input focus
      .biker-form__inputGroup--right
        .biker-form__input
          label(for='rideInGroup') Ride in Group?
          .biker-form__radioboxGroup
            span
              input(type="radio" name="rideInGroup" value="0" id='radio_0') 
              label(for='radio_0') Always
            span
              input(type="radio" name="rideInGroup" value="1"  id='radio_1') 
              label(for='radio_1') Sometimes
            span
              input(type="radio" name="rideInGroup" value="2"  id='radio_2') 
              label(for='radio_2') Never
        .biker-form__input
          label Days of the week
          .biker-form__checkboxGroup
            input#check_0(type='checkbox' value='0' )
            label(for='check_0') Sun
            input#check_1(type='checkbox' value='1')
            label(for='check_1') Mon
            input#check_2(type='checkbox' value='2')
            label(for='check_2') Tue
            input#check_3(type='checkbox' value='3')
            label(for='check_3') Wed
            input#check_4(type='checkbox' value='4')
            label(for='check_4') Thu
            input#check_5(type='checkbox' value='5')
            label(for='check_5') Fri
            input#check_6(type='checkbox' value='6')
            label(for='check_6') Sat
            
        .biker-form__buttonGroup
          .biker-form__button
            button.biker-form__button-cancel#biker-form__cancelButton Cancel
          .biker-form__button
            button.biker-form__button-save#biker-form__saveButton Save