@import "../../common.scss";
$block-name: "table-list";
.#{$block-name} {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.#{$block-name}__header {
    @extend .section-header;
}

.#{$block-name}__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;
    table {
        width: 100%;
        tr {
            display: flex;
            padding: 15px;
        }
        margin-bottom: 30px;
    }
}

.#{$block-name}__tableHeaderRow {
    background-color: rgba(52, 160, 5, 1);
    color: white;
    display: flex;
    flex-grow: 2;
}

.#{$block-name}__tableColumn {
    flex-grow: 2;
    display: flex;
}

.#{$block-name}__tableRow {
    &:nth-child(odd) {
        background: rgba(182, 182, 182, 0.2);
    }
    &:hover {
        background: rgba(52, 160, 5, 0.3);
    }
}