.table-list.container
  .table-list__header bikers
  .table-list__content
    table#dynamicTable
      thead
        tr.table-list__tableHeaderRow
          th.table-list__tableColumn full name 
          th.table-list__tableColumn e-mail 
          th.table-list__tableColumn city
          th.table-list__tableColumn ride in group
          th.table-list__tableColumn days of the week
          th.table-list__tableColumn registration day