.table-list.container
  .table-list__header bikers
  .table-list__content
    table
      tr.table-list__tableHeaderRow
        th.table-list__tableHeader full name 
        th.table-list__tableHeader e-mail 
        th.table-list__tableHeader city
        th.table-list__tableHeader ride in group
        th.table-list__tableHeader days of the week
        th.table-list__tableHeader registration day

