.breadcrumb.container
  .breadcrumb__path
    i.fa.fa-home.breadcrumb__active
    i.fa.fa-angle-right
    span.breadcrumb__active Page 1
    i.fa.fa-angle-right
    span Breadcrumb
    i.fa.fa-angle-right
    span Current page
panda-divider
.breadcrumb__section
  .container
    .breadcrumb__mainSection
      .breadcrumb__infoContainer  
        i.fa.fa-puzzle-piece
        .breadcrumb__info
          .breadcrumb__subTitle Sector
          .breadcrumb__title Sports
      .breadcrumb__infoContainer  
        i.fa.fa-futbol-o
        .breadcrumb__info
          .breadcrumb__subTitle Sport Type
          .breadcrumb__title Bycicles
      .breadcrumb__infoContainer  
        i.fa.fa-bicycle
        .breadcrumb__info
          .breadcrumb_subTitle Mode
          .breadcrumb__title Mountain Cross
    .breadcrumb__secondarySection
      .breadcrumb__infoContainer
        i.fa.fa-recycle.breadcrumb__active
        .breadcrumb__info
          .breadcrumb__subTitle Responsability
          .breadcrumb__title.breadcrumb__active Be Green!

