@import '../../variables';
.help-box {
    border-radius: 10px;
    border: 1px rgba(182,182,182, 0.6) solid;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.help-box__title{
    background-color: rgba(182,182,182, 0.3);
    border-bottom: 1px rgba(182,182,182, 0.6) solid;
    padding: 10px;
    font-weight: 600;
    flex-grow: 1;
}

.help-box__closeButton{
    color: green;
    float: right;
    cursor: pointer;
}