@import '../../common';
$block-name: "help-box";
.#{$block-name} {
    border-radius: 3px;
    border: 1px rgba(182, 182, 182, 0.5) solid;
    display: flex;
    flex-direction: column;
    transition: all .6s .2s ease;
}

.#{$block-name}__title {
    background-color: rgba(182, 182, 182, 0.2);
    border-bottom: 1px rgba(182, 182, 182, 0.5) solid;
    padding: 10px;
    font-weight: 600;
    flex-grow: 1;
    transition: all .6s;
}

.#{$block-name}__closeButton {
    color: green;
    float: right;
    font-size: 15px;
    cursor: pointer;
    .fa {
        padding-left: 10px;
    }
}

.#{$block-name}__content {
    color: #9a9a9a;
    max-height: 0;
    overflow: hidden;
    transition: all .6s;
    .fa {
        font-size: 100px;
        float: left;
        margin: 0 15px 0px 0;
    }
}

.#{$block-name}__content-open {
    height: auto;
    max-height: 500px;
}

.#{$block-name}__mainParagraph {
    margin-top: 0;
}

.#{$block-name}__mainContent{
    padding: 15px;
}