@import '../../common';
$block-name: "help-box";
.#{$block-name} {
    border-radius: 3px;
    border: 1px $color-base-semi-light solid;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: all .9s .9s ease;
}

.#{$block-name}__title {
    background-color: $color-base-light;
    border-bottom: 1px $color-base-semi-light solid;
    padding: 10px;
    font-weight: 600;
    flex-grow: 1;
    transition: all .9s;
}

.#{$block-name}__closeButton {
    color: $color-panda;
    float: right;
    font-size: 15px;
    span{
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 100;
    }
    cursor: pointer;
    .fa {
        padding-left: 10px;
    }
}

.#{$block-name}__content {
    color: #9a9a9a;
    max-height: 0;
    overflow: hidden;
    transition: all .9s;
    .fa {
        font-size: 100px;
        float: left;
        margin: 0 15px 0px 0;
    }
}

.#{$block-name}__content-open {
    height: auto;
    max-height: 500px;
}

.#{$block-name}__mainParagraph {
    margin-top: 0;
}

.#{$block-name}__mainContent{
    padding: 15px;
}