.help-box.container
  #help-box-header.help-box__title
    span Help
    span.help-box__closeButton Open/Close
  .help-box__content
    | This should be the meat of your submission. You are, after all, applying for a job as a full-stack javascript developer. Similarly to the previous instructions, you are discouraged but not forbidden from using frameworks. And as stated before, if your app requires to be built please provide the necessary tools to do so.


