.help-box.container
  #help-box-header.help-box__title
    span Help
    span.help-box__closeButton Open/Close
  .help-box__content
    i.fa.fa-life-ring
    p.help-box__mainParagraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus diam in tortor interdum, et aliquam enim luctus. Aenean ultrices eros sit amet metus aliquet, ac porttitor lorem interdum. Curabitur commodo ullamcorper sapien et sodales. 
    p Vivamus at magna ut magna hendrerit molestie ut vel justo. Aenean eu placerat mi. Ut ut risus et metus accumsan scelerisque nec at dui. Suspendisse potenti.
    p Pellentesque tincidunt, augue id dignissim pharetra, orci nisl aliquet nibh, vestibulum hendrerit mauris metus eget lectus. Phasellus at augue sem. Nulla nec dui est. Integer vitae ex quis libero molestie scelerisque quis et dolor.
  



