$block-name: "divider";
$color-base: rgba(182, 182, 182, 1);
.#{$block-name} {
  width: 100%;
  display: block;
  height: 2px;
  background-color: rgba(182, 182, 182, 0.5);
}

.#{$block-name}__inner-bar{
  width: 100%;
  display: block;
  border-top: 1px $color-base solid;

}
