@import "../../common";
$block-name: "navbar";
.#{$block-name} {
  height: 70px;
  display: flex;
  flex-direction: row;
  .fa {
    color: $color-panda;
    padding: 10px;
    font-size: 20px;
  }
}

.#{$block-name}__mainContent {
  float: left;
  flex-grow: 1;
  display: inline-block;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  text-transform: capitalize;
}

.#{$block-name}__secondaryContent {
  float: right;
  display: inline-block;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
