$color-base: rgba(182, 182, 182, 1);
$color-base-semi-light: rgba(182, 182, 182, 0.5);
$color-base-light: rgba(182, 182, 182, 0.2);
$color-panda: rgba(52, 160, 5, 0.7);

.section-header {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
    margin: 15px 0px;
}